<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
 h1{
  color: black;
  background-color: aquamarine;
  padding: 20px;
  font-family: sans-serif;
 }
 img{
  width: 1000px;
 }
</style>

<main class="main">
  <h1>React is  better than Angular</h1>
  <img src="../assets/img.png" alt="">
  </main>

<router-outlet />
